USE [master]
GO
/****** Object:  Database [Db_Pariwisata_OLTP]    Script Date: 07/06/2026 15:16:14 ******/
CREATE DATABASE [Db_Pariwisata_OLTP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_Pariwisata_OLTP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERB1\MSSQL\DATA\Db_Pariwisata_OLTP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_Pariwisata_OLTP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERB1\MSSQL\DATA\Db_Pariwisata_OLTP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_Pariwisata_OLTP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_Pariwisata_OLTP]
GO
/****** Object:  Table [dbo].[Destination]    Script Date: 07/06/2026 15:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destination](
	[destination_id] [varchar](10) NOT NULL,
	[nama_destinasi] [varchar](100) NULL,
	[kota] [varchar](50) NULL,
	[provinsi] [varchar](50) NULL,
	[kategori_destinasi] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[destination_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detail_Transaction]    Script Date: 07/06/2026 15:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail_Transaction](
	[detail_transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[transaction_id] [varchar](10) NULL,
	[revenue_type_id] [int] NULL,
	[amount_idr] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[detail_transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 07/06/2026 15:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[hotel_id] [varchar](10) NOT NULL,
	[nama_hotel] [varchar](100) NULL,
	[kelas_hotel] [varchar](20) NULL,
	[kota] [varchar](50) NULL,
	[price_category] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Revenue_Type]    Script Date: 07/06/2026 15:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Revenue_Type](
	[revenue_type_id] [int] NOT NULL,
	[revenue_type_nama] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[revenue_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tourist]    Script Date: 07/06/2026 15:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tourist](
	[tourist_id] [varchar](10) NOT NULL,
	[jenis_wisatawan] [varchar](50) NULL,
	[negara_asal] [varchar](50) NULL,
	[age_group] [varchar](20) NULL,
	[travel_type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[tourist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 07/06/2026 15:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[transaction_id] [varchar](10) NOT NULL,
	[tourist_id] [varchar](10) NULL,
	[hotel_id] [varchar](10) NULL,
	[destination_id] [varchar](10) NULL,
	[transaction_date] [date] NULL,
	[number_of_guest] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detail_Transaction]  WITH CHECK ADD FOREIGN KEY([revenue_type_id])
REFERENCES [dbo].[Revenue_Type] ([revenue_type_id])
GO
ALTER TABLE [dbo].[Detail_Transaction]  WITH CHECK ADD FOREIGN KEY([transaction_id])
REFERENCES [dbo].[Transaction] ([transaction_id])
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([destination_id])
REFERENCES [dbo].[Destination] ([destination_id])
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([hotel_id])
REFERENCES [dbo].[Hotel] ([hotel_id])
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD FOREIGN KEY([tourist_id])
REFERENCES [dbo].[Tourist] ([tourist_id])
GO
USE [master]
GO
