USE [master]
GO
/****** Object:  Database [Db_Pariwisata_DW]    Script Date: 07/06/2026 15:16:59 ******/
CREATE DATABASE [Db_Pariwisata_DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_Pariwisata_DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERB1\MSSQL\DATA\Db_Pariwisata_DW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_Pariwisata_DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVERB1\MSSQL\DATA\Db_Pariwisata_DW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_Pariwisata_DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_Pariwisata_DW]
GO
/****** Object:  User [NT SERVICE\MSOLAP$MSSQLSERVERB1]    Script Date: 07/06/2026 15:16:59 ******/
CREATE USER [NT SERVICE\MSOLAP$MSSQLSERVERB1] FOR LOGIN [NT SERVICE\MSOLAP$MSSQLSERVERB1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT SERVICE\MSOLAP$MSSQLSERVERB1]
GO
/****** Object:  Table [dbo].[Dim_Destination]    Script Date: 07/06/2026 15:16:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Destination](
	[Destination_Key] [varchar](10) NOT NULL,
	[Nama_Destinasi] [varchar](100) NULL,
	[Kota] [varchar](50) NULL,
	[Provinsi] [varchar](50) NULL,
	[Kategori_Destinasi] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Destination_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Hotel]    Script Date: 07/06/2026 15:16:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Hotel](
	[Hotel_Key] [varchar](10) NOT NULL,
	[Nama_Hotel] [varchar](100) NULL,
	[Kelas_Hotel] [varchar](20) NULL,
	[Kota] [varchar](50) NULL,
	[Price_Category] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Hotel_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Time]    Script Date: 07/06/2026 15:16:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Time](
	[Date_Key] [date] NOT NULL,
	[Year] [int] NULL,
	[Semester] [int] NULL,
	[Quarter] [int] NULL,
	[Month] [int] NULL,
	[Season] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Date_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Tourist]    Script Date: 07/06/2026 15:16:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Tourist](
	[Tourist_Key] [varchar](10) NOT NULL,
	[Jenis_Wisatawan] [varchar](50) NULL,
	[Negara_Asal] [varchar](50) NULL,
	[Age_Group] [varchar](20) NULL,
	[Travel_Type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Tourist_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Tourism]    Script Date: 07/06/2026 15:16:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Tourism](
	[Date_Key] [date] NULL,
	[Tourist_Key] [varchar](10) NULL,
	[Hotel_Key] [varchar](10) NULL,
	[Destination_Key] [varchar](10) NULL,
	[Total_Revenue_IDR] [decimal](18, 2) NULL,
	[Accommodation_Revenue_IDR] [decimal](18, 2) NULL,
	[FNB_Revenue_IDR] [decimal](18, 2) NULL,
	[Activities_Revenue_IDR] [decimal](18, 2) NULL,
	[Tax_Amount_IDR] [decimal](18, 2) NULL,
	[Number_of_Guests] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fact_Tourism]  WITH CHECK ADD FOREIGN KEY([Tourist_Key])
REFERENCES [dbo].[Dim_Tourist] ([Tourist_Key])
GO
USE [master]
GO
